body {
  font-size: 13px;
  font-family: 'PT Mono', monospace;
  color: #bbb;
  line-height: 21px;
  background: #101010;
}
a {
  text-decoration: none;
}

p {
  font-size: 15px;
   color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 
}
h3,h2,strong{
  color: #4bffa5;
}
img {
  border-radius: 8px;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.left{
  float: left;
}
.right{
  float: right;
}
section li{
  color:white; 
}

.header {
  padding: 50px;
}
.footer{
  text-align: center;
}

.header h1.title {
  font-size: 30px;
  margin: 10px 50px;
  text-align: left;
}
.header li {
  display: inline-block;
  border-left: 1px solid #576a85;
  border-right: 1px solid #394962;
  border-radius: 5px;
}
.header li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.header a:hover {
  background-color: #717790;
}
.vertical-center {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.about-content{
  display: table;
  position: relative;
}

.about .about-content .logo {
  display: inline-block;
  width: 600px;
  height: 600px;
  background-size: cover;
  -webkit-clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
  clip-path: polygon(31% 0,100% 25%,61% 100%,0 93%);
}

.about .about-content .desc{
  float: right;
}

.shadow-element.slow-transition {
  box-shadow: 0 0 10px 0 rgba(105, 101, 101, 0.3);
  transition: box-shadow 500ms;
}
.shadow-element {
  position: relative;
  align-items: center;
  width: 500px;
  height: 340px;
  margin: 50px;
  float: left;
  box-sizing: border-box;
  padding: 30px 0px;
  font-family: 'PT Mono', ;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
}
.content {
    display: flex;
    justify-content: center;
}
.slow-transition {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.slow-transition:hover {
  box-shadow: 0 10px 50px 0 rgba(82, 80, 80, 0.5);
}
.h-title{
  position: absolute;
  top:60vh;
  width: 450px;
}
