@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.625;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, tr, th, td, div, img {
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    vertical-align: top;
}

h3{
    color: #01689b;  
    font-weight: bold;
}

header {
    background-color: #fff;
    position: relative;
    margin: 0px;
}
header .logo {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}
header .logo img{
    margin-left: -25px;
}
main {
    margin: 0px;
    position: relative;
    background-color: transparent;
    display: block;
}
main .headerImage .wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

.logo .wrapper {
    margin: 0 0 0 50%;
}

.mainNav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 1em;
    border-radius: 1px;
    padding: 15px 5px 15px 5px;
    border-top: 1px solid #fff;
}
.mainNav ul li a:focus {
    outline: 2px dotted #fff;
}
.mainNav ul li a:hover {
    text-decoration: underline;
}
.topTaskNavigation ul li a{
    font-size: 1.125em;
    text-decoration: none;
    color:#01689b;
}
.topTaskNavigation ul li a:hover{
    text-decoration: underline;
}

#navBar .wrapper .leftNav a {
    text-decoration: none;
    color: #fff;
}
#navBar {
    background-color: #01689b;
    min-height: 70px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}

#navBar .wrapper .leftNav {
     order: 1; 
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.4em;
    letter-spacing: .03rem;
    text-decoration: none;
    font-weight: normal;
}
#navBar .wrapper {
    display: flex;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.editorialNavigation.grey {
    background-color: #f3f3f3;
}
.editorialNavigation .wrapper {
    padding-top: 40px;
    padding-bottom: 15px;
}

.item a{
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
    
}
.item .content:hover{
    outline: 2px dotted #01689b;
}
.mainNav {
    order: 3;
    width: 100%;
}
.headerImage {
    position: relative;
    width: 100%;
    min-height: 320px;
}
.headerImage img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.headerImage .wrapper {
    z-index: 10;
    padding: 15px;
    position: relative;
    padding: 25px 15px 50px 15px;
}
.headerImage .wrapper .topTaskNavigation {
    max-width: 400px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    padding: 15px 15px 20px 15px;
}
.editorialNavigation.grey {
    background-color: #f3f3f3;
}
footer .container{
   display: flex;
   justify-content: space-between;
}
.editorialNavigation .container  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.news{
    margin-top: 50px;
}
.news .container{
    border-top: 1px solid #e1e1e1;
}
.brick {
    margin: 0 0 60px 0;
}
.brick a{
    text-decoration: none;
}
.brick img {
    width: 100%;
    margin: 5px 0 15px 0;
}
.brickRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brick-text{
    order:3;
}
.brick p {
    color: #000;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;
}
 .brick, .brick>a {
    display: flex;
    flex-wrap: wrap;
}
.brick h3,  .brick span, .brick>a h3 {
    order: 2;
}
.brickRow h2 {
    margin: -5px 15px 20px 15px;
    font-size: 1.125rem;
}
.brickRow .brick-image {
    position: relative;
}

footer {
    display: relative;
    border: 0;
    padding-bottom: 0;

}
.container .left-footer{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 1.4em;
    color: white;
    margin-bottom: 30px;
}
.container .right-footer{
    display: flex;
    justify-content: space-between;

}
.container .column ul li{
    color: #fff;
    
}
.container .column h2{
    color: #fff;

}
.editorialNavigation .container  .item {
    flex: 0 0 25%;
    max-width: 25%;
}
.editorialNavigation .container  .item .content{
    width: 90%;
}
.banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.banner-item {
    width: 47%;
    text-align: center;
    border: 3px solid #CBD2E3;
    padding: 3px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner-item h1 {
    text-align: center;
    font-size: 5vw;
    color: #1B5E84;
}
.banner-item p {
    text-align: center;
    font-size: 4vw;
    line-height: 1.3;
}
.banner-item:last-child h1  {
    color: #a90061;
}
.brick-banner{
    padding:50px 0px;
}
.languages {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.languages a {
    text-decoration: none;
    border: 2px solid lightgrey;
    padding: 5px 10px;
    margin: 5px;
    color: #016898;
    background-color: #fff;
}
.column{
    margin-left: 100px;
    margin-right: 50px;
}

footer .footer-content{
    background-color: #01689b;
}

@media (min-width: 768px){
    .content {
        width: 100%;
    }

    .editorialNavigation .container .item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mainNav ul li {
        width: auto;
        border: 0;
        padding: 0 10px 0 10px;
        margin: 0;
    }
 
    .mainNav ul li a {
      
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid white;
        
    }
    #navBar .wrapper {
        flex-direction:column;
    }
    #navBar .wrapper .leftNav {
        padding-left: 28px;
    }
    .headerImage {
        margin: 0;
    }
    .headerImage.smallHeaderImage {
        min-height: 210px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-item{
        width: 100%;
    }
    footer .container{
        display:flex;
        flex-direction: column;
    }
    .container {
        padding:20px;
    }

}

@media (min-width: 1200px){
    body {
        font-size: 16px;
    }
   
    .editorialNavigation .container {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .mainNav {
        width: auto;
        background: transparent;
        margin: 3px -5px 0 -5px;
    }

    footer .container {
     
        display: flex;
        justify-content: space-between;
    }
    footer .container .column {
       
        padding-right: 10px;
    }
    #navBar .wrapper {
        flex-direction: row;
    }
    .mainNav ul li a {
        border:none;
    }

}
@media (min-width: 992px){
    
    .headerImage.smallHeaderImage {
        min-height: 250px;
    }
    .brick {
  
        flex: 0 0 31%;
    }
    .mainNav ul {
        display: flex;
        flex-wrap: nowrap;
        flex: 0 0 auto;
        align-items: center;
        max-height: 70px;

    }


    footer .container {
    padding-top: 50px;
    padding-bottom: 50px;
    }

    .editorialNavigation .container  .item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 40px;
    }

    .banner-item {
        width: 32%;
        margin-right: 2%;
    }
    .banner-item h1, .banner-item p {
        font-size: 1.8em;
    }
    .banner {
        flex-direction: row;
        justify-content: left;
    }
    .banner-item h1, .banner-item p {
        font-size: 1.8em;
    }
    footer .container{
        display:flex;
        flex-direction: row;
    }
    #navBar .wrapper {
        flex-direction: row;
    }
    .mainNav ul li a {
        border:none;
    }

}

